*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.img {
    max-width: 100%;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    background-color: #F9F7E8;
    padding:  24px 0px;

}
.header-logo {
    font-family: 'Courgette', sans-serif;
    font-weight: 400;
    font-size: 32px;
    Line-height:40px;
}

.header-logo span {
    color: #62BFAD;
}



.header-nav-item {
    margin-right: 21px;
    text-decoration: none;
    color: black;
}
.section1 {
    background-color:#D52047;
    display: flex;
    justify-content: center;
   
}
h1{
    font-family: 'Limelight', sans-serif;
    font-weight:400;
    font-size:48px;
    Line-height:58.43px; 
    margin: 198px 0px;
    color: white;
}

.main h2{
    color: #D52047;
    font-weight:700;
    font-size: 48px;
    padding-bottom: 40px;
}

.main {
    padding: 95px 0px;
    background-color: #EFF8F6;

}

.main-card {
    display: flex;
    background-color: #E5E5E5;
}

.main-item {
    width: 50%;

}
.main-text {
    
    padding: 24px;
}
.main-item h3 {
    font-weight:700;
    font-size: 32px;
    padding-bottom: 24px;
}

.main-item p {
    font-weight:400;
    font-size: 24px;
}

.section-cards{
    display: flex;
   
}
.section-card {
    width: 33%;
    border: solid 2px;
    border-color: #E5E5E5;
    border-radius: 3%;
    margin-right: 75px;
}

.section2 {
    padding: 80px 0px;
}

.section2 h2 {
    color: #D52047;
    font-weight:700;
    font-size: 48px;
    padding-bottom: 40px ;

}

.section-card {
    padding: 24px;
}

.section-card h3, p {
    padding: 24px 0px;
}

.section-card span {
    color: #D52047;
    border-bottom: solid 1px;
}
.footer {
    background-color: #F9F7E8;
    padding: 32px 0px;

}
.footer-text {
    display: flex;
    justify-content: center;
}

.footer-svg {
    display: flex;
    justify-content: center;
    
}
.footer-svg img {
    padding: 24px 16px;
}


.footer-text span {
    border-bottom: solid 2px;
}

